.Toastify {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.toast-body {
  font-family: 'Roboto-Medium', 'sans-serif';
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #fff;
  letter-spacing: 1px;
  flex-grow: 1;
}

.toast-container {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

.toast-wrapper {
  min-height: 45px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
} 

.Toastify__close-button {
  align-self: center;
  height: 14px;
  width: 14px;
  margin-right: 15px;
  margin-left: 5px;
  opacity: 1;
  background-color: transparent;
  flex-shrink: 0;
}

.Toastify__close-button > svg {
  display: none;
}

.progress {
  visibility: hidden;
}
